/* <--------------------- COMMON CSS ---------------------> */
body { /*
	background-repeat: no-repeat;
	background: linear-gradient( SlateBlue, white);*/
	font-family: 'Capriola';
	margin-top: 60px;
}

footer .foo {
	clear: both;
	color: white;
	background-color: rgba(79, 90, 129, 1);;
	position: absolute;
	bottom: 0 auto;
	width: 100%;
	height: 50px;
	text-align: center;
}

#map {
	width: 100%;
	height: 400px;
}

.fp-scroller {
	overflow: hidden;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.resize-form {
	font-size: 11px;
	'
}

.table {
	font-size: 14px;
}

.alert-fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 9999;
	border-radius: 0px
}

.fix-padding {
	padding-top: 50px;
}

.box {
	background-color: none;
	border: none;
	color: white;
	padding: 10px 50px;
	width: 100px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.box.boxTable {
	background-color: none;
	border: none;
	color: black;
	padding: 10px 20px;
	width: auto;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: auto;
	margin: 1px 1px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.box:hover {
	box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 15px 30px 0
		rgba(0, 0, 0, 0.19);
	background-color: #4CAF50;
	color: #f8f8f8;
}

.box.boxTable:hover {
	box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 15px 30px 0
		rgba(0, 0, 0, 0.19);
	background-color: #808080;
	color: #f8f8f8;
}

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../assets/loader.gif) center no-repeat #fff;
}

.loaderAjaxPage{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../assets/ajax-loader.gif) center no-repeat rgba(139, 219, 235,0.4);
}

/* <--------------------- VALIDAZIONE -----------------------------> */
label.error {
	color: rgba(164, 0, 0, 0.8);
	padding: 0;
	margin: 5px 0 0 0;
	padding-left: 15px;
	font-size: 12px;
	background-image: url(../assets/error.png);
	background-position: 0 2px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
}

/* <--------------------- CARD PROFESSIONISTI ---------------------> */
.card {
	width: 200px;
	height: 250px;
	padding: 10px 20px;
	background-color: #4ba3c7;
	margin: 0 0 50px 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 5px;
	text-align: center;
}

.c-header {
	height: 80%;
	color: white;
	padding: 5px 0 20px 0;
	text-align: center;
}

.c-header h3 {
	font-size: 16px;
}

.c-header p {
	font-size: 12px;
}

.c-body {
	height: 20%;
	padding: 5px 0 20px 0;
}

.c-body a {
	color: white;
}

.c-body a:hover {
	color: #b6ffff;
}

.card .btn {
	margin-top: 20px;
	background-color: MediumSeaGreen;
	color: white;
}

.card .btn:hover {
	background-color: #53c687;
}

.card:hover {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

/* <--------------------- NAVBAR CUSTOM ---------------------> */
.custom-nav .navbar-brand {
	color: rgba(255, 255, 255, 1);
}

.custom-nav {
	border-radius: 0px;
	border: 0px;
	height: 60px;
	padding: 5px;
	color: white;
	line-height: 60px;
	font-size: 16px;
	background: #4ba3c7;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.custom-nav .navbar-nav>li>a {
	color: white;
	background-color: #4ba3c7;
}

.custom-nav .navbar-nav>li>a:hover, .custom-nav .navbar-nav>li>a:focus {
	color: #4ba3c7;
	background-color: white;
}

.custom-nav .navbar-nav>.active>a, .custom-nav .navbar-nav>.active>a:hover,
	.custom-nav .navbar-nav>.active>a:focus {
	color: white;
	background-color: #4ba3c7;
}

.custom-nav .navbar-toggle, .custom-nav .navbar-toggle:active {
	background-color: white;
	border-radius: 0px;
	border: 0px;
}

.custom-nav .navbar-toggle:hover, .custom-nav .navbar-toggle:focus {
	background-color: #b6ffff;
}

.custom-nav .navbar-toggle .icon-bar {
	background-color: #4ba3c7;
}

.custom-nav .navbar-toggle:hover .icon-bar, .custom-nav .navbar-toggle:focus .icon-bar
	{
	background-color: #4ba3c7;
}

.custom-nav .navbar-toggle:hover .icon-bar, .custom-nav .navbar-toggle:focus .icon-bar
	{
	background-color: #4ba3c7;
}

.dropdown .dropdown-menu {
	border: 0;
	border-radius: 0;
	background: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	max-height: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	opacity: 0;
}

.dropdown-menu li>a {
	color: white;
}

.dropdown-menu li>a:hover {
	background: white;
	color: #4ba3c7;
}

.dropdown:hover .dropdown-menu {
	background: #4ba3c7;
	color: white !important;
	max-height: 200px;
	opacity: 1;
}

.input-group-custom .form-control {
	border: 0;
	border-radius: 0;
	color: #4ba3c7;
	box-shadow: 0 0 0;
	background: white;
}

,
.input-group-custom .form-control:hover {
	background: white;
}

.input-group-custom .btn {
	border: 0;
	border-radius: 0;
	border-right: 1px;
	background: none;
	color: white;
}

.input-group-custom .btn:hover {
	color: #b6ffff;
}

/* <--------------------- SIDEBAR AREAPERSONALE ---------------------> */
.wrapper {
	margin-top: -60px;
	display: flex;
	align-items: stretch;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar-side {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
}

.navbar-btn, .navbar-btn:focus {
	font-size: 18px;
	color: white;
	background: #4ba3c7;
	box-shadow: none;
	outline: none !important;
	border: 0;
	border-radius: 0;
}

.navbar-btn:hover {
	color: #4ba3c7;
	background: white;
	outline: none !important;
}

i, span {
	display: inline-block;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	color: white;
	background: #4ba3c7;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	transition: all 0.3s;
}

#sidebar.active {
	min-width: 140px;
	max-width: 140px;
	text-align: center;
}

#sidebar.active .sidebar-header small, #sidebar.active .CTAs {
	display: none;
}

#sidebar.active .sidebar-header p {
	font-size: 10px;
}

#sidebar ul li a {
	text-align: left;
}

#sidebar.active ul li a {
	padding: 10px 10px;
	text-align: center;
}

#sidebar.active ul li a i {
	margin-right: 0;
	display: block;
	font-size: 1.8em;
	margin-bottom: 5px;
}

#sidebar.active ul ul a {
	padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before
	{
	top: auto;
	bottom: 5px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

#sidebar .sidebar-header {
	text-align: center;
	padding: 20px;
	background-color: #4ba3c7;
}

.btn-logout {
	border: none;
	background: none;
}

#sidebar .sidebar-header p {
	padding-top: 10px;
}

#sidebar .sidebar-brand {
	padding: 0;
	padding-bottom: 10px;
	font-size: 22px;
	color: white;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	background-color: white;
	color: #4ba3c7;
}

#sidebar ul li a i {
	margin-right: 10px;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
	color: #4ba3c7;
	background-color: white;
}

a[data-toggle="collapse"] {
	position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
	display: block;
	position: absolute;
	right: 20px;
	font-size: 0.6em;
}

.main-content {
	width: 100%;
	padding: 10px;
	transition: all 0.3s;
	min-height: 100vh;
}

@media ( max-width : 768px) {
	#sidebar {
		min-width: 140px;
		max-width: 140px;
		text-align: center;
		margin-left: -140px !important;
	}
	a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
		top: auto;
		bottom: 5px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
	#sidebar.active {
		margin-left: 0 !important;
	}
	#sidebar .sidebar-header h3, #sidebar .CTAs {
		display: none;
	}
	#sidebar .sidebar-header strong {
		display: block;
	}
	#sidebar ul li a {
		padding: 20px 10px;
	}
	#sidebar ul li a span {
		font-size: 0.85em;
	}
	#sidebar ul li a i {
		margin-right: 0;
		display: block;
	}
	#sidebar ul ul a {
		padding: 10px !important;
	}
	#sidebar ul li a i {
		font-size: 1.3em;
	}
	#sidebar {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
}

/* <--------------------- HOME STYLE ---------------------> */

/* BACKGROUND ANIMATO*/
.bg {
	background: linear-gradient(-45deg, #29b6f6, #dce775, #66bb6a, #81c784);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*SEZIONI PAGINE*/
#intro {
	color: white;
	text-shadow: #444 0 2px 2px;
}

#intro .container {
	padding-top: 100px;
	height: 100%;
}

#intro h3 {
	font-size: 42px;
	font-weight: bold;
}

#intro p {
	font-size: 22px;
}

#intro .btn-default {
	width: 150px;
	border: 0;
	border-radius: 0;
	background: #4ba3c7;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	color: white;
	font-size: 22px;
}

#intro .btn-default:hover {
	background: white;
	color: #4ba3c7;
}

#section1 {
	background: #b3e5fc;
}

#section2 {
	background: #a5d6a7;
}

#section3 {
	background: #ce93d8;
}

#section4 {
}

#section1 .container {
	color: white;
	padding: 40px;
	height: 100%;
}

#section1 h3 {
	font-size: 36px;
	font-weight: bold;
}

#section1 p {
	font-size: 18px;
}

#section2 .container, #section3 .container, #section4 .container {
	color: white;
	padding: 2%;
	height: 100%;
}

#section2 h3, #section3 h3 {
	font-size: 36px;
	font-weight: bold;
}

#section2 p, #section3 p {
	font-size: 16px;
}

#section2 .body, #section3 .body {
	padding-top: 20px;
}

#section2 .thumbnail, #section3 .thumbnail {
	text-align: center;
	color: #4ba3c7;
	height: 280px;
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#section2 .body h3, #section3 .body h3 {
	font-size: 16px;
}

#section2 .body p, #section3 .body p {
	font-size: 10px;
}

/* <--------------------- AREAPERSONALE STYLE ---------------------> */
.bigFont {
	font-size: 40px;
}

.carousel-control
{
  background: none;
  color: #222;
  font-size: 18px;
  text-shadow: none;
  margin-top: 100px;
}

.carousel-control.left 
{
  background: none;	
  left: -12px;
}
.carousel-control.left:hover, .carousel-control.right:hover  
{
  color: #676767;
}
.carousel-control.right 
{
  background: none;
  right: -12px !important;
}

.panel-green {
}

.panel-green>.panel-heading {
	color: white;
}

.panel-green>a {
	color: #5cb85c;
}

.panel-green>a:hover {
	color: #3d8b3d;
}

.panel-red {
}

.panel-red>.panel-heading {
	color: white;
	background-color: #d9534f;
}

.panel-red>a {
	color: #d9534f;
}

.panel-red>a:hover {
	color: #b52b27;
}

.panel-yellow {
}

.panel-yellow>.panel-heading {
	color: white;
	background-color: #f0ad4e;
}

.panel-yellow>a {
	color: #f0ad4e;
}

.panel-yellow>a:hover {
	color: #df8a13;
}

.panel-default{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	border:0;
	border-radius:0;
	background: #e7f2f8;
}

.panel-heading{
	background:#4ba3c7 !important;
	color:white !important;
}

.panel-heading a{
	color:#9fd7a0;
	text-decoration: underline;
}

.panel-heading a:hover{
	color:#b9ffb9;
	text-decoration: underline;
	
}

.form-control{
	border:0;
	border-radius:0;
}

.btn-group {
	border:0;
	border-radius:0;
}

.well{
	border:0;
	border-radius:0;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	background:white;
}

.list-group{
	margin:0;
}

#modalAppuntamento .modal-content{
	height: 70%;
   overflow:auto;
}
#panelNuovoAppuntamento .panel-body, #panelChart .panel-body{
	min-height: 350px;
	max-height: 350px;
	overflow-y: auto;

}

#panelRecenti .panel-body, #panelValutazioni .panel-body{
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}


#myChart {
	position: relative;
	width: 100%;
	height: 100%;
}

.ui-autocomplete {
	min-height: 10px;
	max-height:250px;
	font-family: 'Capriola';
	color:#4ba3c7;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;
	z-index: 30 !important;
	min-width: 160px;
	width: 160px;
	padding-top: 20px;
}

#map {
	height: 100%;
	width: 100%;
}

#minimappa {
	height: 230px;
	width: 100%;
}

#notizie {
	border: transparent;
	height: 200px;
	width: 100%;
	margin-bottom: 40px;
}

.checked {
	color: orange;
}


#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
.carousel-inner {
    min-height: 150px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

canvas#topClienti{
	height:100%;
	width:100%;
}