<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>inTime</display-name>
	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>inTime.webapp@gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>macriscoditti</param-value>
	</context-param>
	<filter-mapping>
		<filter-name>autoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>controller.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IscriviClienteServlet</servlet-name>
		<servlet-class>controller.cliente.IscriviClienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IscriviClienteServlet</servlet-name>
		<url-pattern>/IscriviClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EliminaPrenotazioneServlet</servlet-name>
		<servlet-class>controller.cliente.EliminaPrenotazioneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminaPrenotazioneServlet</servlet-name>
		<url-pattern>/EliminaPrenotazioneServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IscriviProfessionistaServlet</servlet-name>
		<servlet-class>controller.professionista.IscriviProfessionistaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IscriviProfessionistaServlet</servlet-name>
		<url-pattern>/IscriviProfessionistaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckMail</servlet-name>
		<servlet-class>controller.CheckMail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckMail</servlet-name>
		<url-pattern>/CheckMail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AreaPersonaleServlet</servlet-name>
		<servlet-class>controller.professionista.AreaPersonaleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AreaPersonaleServlet</servlet-name>
		<url-pattern>/AreaPersonaleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppuntamentoServlet</servlet-name>
		<servlet-class>controller.professionista.AppuntamentoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppuntamentoServlet</servlet-name>
		<url-pattern>/AppuntamentoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InserisciAppuntamentoServlet</servlet-name>
		<servlet-class>controller.professionista.InserisciAppuntamentoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InserisciAppuntamentoServlet</servlet-name>
		<url-pattern>/InserisciAppuntamentoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfiloServlet</servlet-name>
		<servlet-class>controller.professionista.ProfiloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfiloServlet</servlet-name>
		<url-pattern>/ProfiloServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StoricoAppuntamentiServlet</servlet-name>
		<servlet-class>controller.professionista.StoricoAppuntamentiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoricoAppuntamentiServlet</servlet-name>
		<url-pattern>/StoricoAppuntamentiServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientiServlet</servlet-name>
		<servlet-class>controller.professionista.ClientiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientiServlet</servlet-name>
		<url-pattern>/ClientiServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RicercaServlet</servlet-name>
		<servlet-class>controller.RicercaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaServlet</servlet-name>
		<url-pattern>/RicercaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RicercaAppuntamentoServlet</servlet-name>
		<servlet-class>controller.controller.RicercaAppuntamentoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaAppuntamentoServlet</servlet-name>
		<url-pattern>/RicercaAppuntamentoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PrenotaAppuntamentoServlet</servlet-name>
		<servlet-class>controller.cliente.PrenotaAppuntamentoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrenotaAppuntamentoServlet</servlet-name>
		<url-pattern>/PrenotaAppuntamentoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RecensioniServlet</servlet-name>
		<servlet-class>controller.cliente.RecensioniServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecensioniServlet</servlet-name>
		<url-pattern>/RecensioniServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StoricoPrenotazioniServlet</servlet-name>
		<servlet-class>controller.cliente.StoricoPrenotazioniServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoricoPrenotazioniServlet</servlet-name>
		<url-pattern>/StoricoPrenotazioniServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PrenotazioneClienteServlet</servlet-name>
		<servlet-class>controller.cliente.PrenotazioneClienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrenotazioneClienteServlet</servlet-name>
		<url-pattern>/PrenotazioneClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataServlet</servlet-name>
		<servlet-class>controller.DataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataServlet</servlet-name>
		<url-pattern>/DataServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AutocompleteSearchServlet</servlet-name>
		<servlet-class>controller.AutocompleteSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutocompleteSearchServlet</servlet-name>
		<url-pattern>/AutocompleteSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadImageServlet</servlet-name>
		<servlet-class>controller.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImageServlet</servlet-name>
		<url-pattern>/UploadImageServlet</url-pattern>
	</servlet-mapping>
</web-app>